{{ include('_jsForms.html.twig') }}

<div class="card">
	<div class="card-body">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ path('app_clientsDetail', {id: object.client.id}) }}"><i class="fa fa-briefcase"></i> Client: {{ object.client.name }}</a></li>
				<li class="breadcrumb-item active" aria-current="page"><i class="fa fa-briefcase"></i> Service: {{ object.name }}</li>
			</ol>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-primary card-outline">
						<div class="card-body box-profile">
							<h3 class="profile-username text-center">{{ object.name }}</h3>

							<p class="text-muted text-center">
								{{ object.description }}
							</p>
							
							<ul class="list-group list-group-unbordered mb-3">
								<li class="list-group-item">
									<b>PeP</b> <a class="float-right">{{ object.pep }}</a>
								</li>
								<li class="list-group-item">
									<b>TCOSRV</b> <a class="float-right">{{ object.tcosrv }}</a>
								</li>
								{% if object.active == false %}
								<li class="list-group-item text-center">
									<button type="button" class="btn btn-sm btn-danger" title="Not Active">
										Not Active
									</button>
								</li>
								{% endif %}
							</ul>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.card-body -->
</div>